.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container fills the viewport height */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure the navbar appears on top of other elements */
}